<button type="button" class="btn btn-success" (click)="goToCreate()">Crear</button><br><br>

<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Telefono</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of admin.departments; index as i">
        <th scope="row">{{department.id}}</th>
        <td>{{department.nombre}}</td>
        <td>{{department.direccion}}</td>
        <td>{{department.telefono}}</td>
        <td><button type="button" class="btn btn-primary" (click)="editDepartment(department)">Editar</button></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteDepartment(i)">Eliminar</button></td>
      </tr>
      
      
    </tbody>
  </table>