<table class="responstable">
  
  <tr>
    <th>#</th>
    <th data-th="Driver details"><span>Nombre</span></th>
    <th>apellido</th>
    <th>Fecha</th>
  </tr>
  
  <tr>
    <td><input type="radio"/></td>
    <td>Steven</td>
    <td>Rodriguez</td>
    <td>01/05/2023</td>
  </tr>
  
  <tr>
    <td><input type="radio"/></td>
    <td>Daniel</td>
    <td>Perez</td>
    <td>10/01/2023</td>

  </tr>
  
  <tr>
    <td><input type="radio"/></td>
    <td>Alejandra</td>
    <td>Cortez</td>
    <td>20/12/2022</td>

  </tr>
  
  <tr>
    <td><input type="radio"/></td>
    <td>Nicolas</td>
    <td>Restrepo</td>
    <td>01/02/2023</td>

  </tr>
  
</table>