<div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Id</label>
        <input value="{{user.id}}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input value="{{user.nombre}}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Telefono</label>
        <input value="{{user.telefono}}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Dirección</label>
        <input value="{{user.direccion}}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    
    <button *ngIf="action=='create'" type="submit" class="btn btn-success" (click)="addDepartment(user)">Agregar</button>
    <button *ngIf="action=='edit'" type="submit" class="btn btn-primary" (click)="editDepartment(user)">editar</button>
</div>