<div class="htllml"><!-- multistep form -->
<form id="msform">
    <!-- progressbar -->
    <!-- <ul id="progressbar">
      <li class="active">Account Setup</li>
      <li>Social Profiles</li>
      <li>Personal Details</li>
    </ul> -->
    <!-- fieldsets -->
    <fieldset>
      <h2 class="fs-title">Modificar</h2>
      <h3 class="fs-subtitle">Buscar el nombre a modificar</h3>
      <input type="text" name="nombre" placeholder="nombre" />
      <input type="text" name="apellido" placeholder="Apellido" />
      <input type="number" name="cpass" placeholder="Cedula" />
      <input type="button" name="buscar" class="next action-button" value="Buscar" />
    </fieldset>
    </form>
</div>