<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Direccion</th>
        <th scope="col">Cedular</th>
        <th scope="col">Telefono</th>
        <th scope="col">Comentario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Cra 32 e 33-6</td>
        <td>1053974555</td>
        <td>3105634587</td>
        <td>Excelente servicio</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Cra 9 e 33-4</td>
        <td>10545544613</td>
        <td>3105632487</td>
        <td>.....</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Cra 3 e 33-8</td>
        <td>10535675613</td>
        <td>3105687687</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Cra 99 e 33-4</td>
        <td>10539345513</td>
        <td>31056789087</td>
        <td>Habitaciones muy pequeñas</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Cra 88 e 33-6</td>
        <td>10539234613</td>
        <td>3105664587</td>
        <td>--------</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Cra 32 e 33-78</td>
        <td>1065574613</td>
        <td>31056455687</td>
      </tr>
    </tbody>
  </table>